/Magic Mirror/nbproject/private/
/Java MagicMirror/dist/
/Twitter/dist/
/RpiUI/nbproject/private/
/RpiUI/build/
/RpiUI/dist/
/Test_Connection/raspServer/rasp_version_of_android_server/raspberryPiServer/nbproject/private/
/Test_Connection/raspServer/rasp_version_of_android_server/raspberryPiServer/build/
/Test_Connection/raspServer/rasp_version_of_android_server/raspberryPiServer/dist/